openapi: 3.0.3
info:
  title: Payment Processing API
  description: API for creating payments and registering webhooks.
  version: 1.0.0

servers:
  - url: http://localhost:8080
    description: Local host

paths:
  /v1/payments:
    post:
      summary: Create a new payment
      description: Processes a payment request and returns transaction details.
      operationId: createPayment
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentRequest"
            example:
              firstName: CINDY
              lastName: WU
              zipCode: 1000
              cardNumber: 4242424242424242
      responses:
        "200":
          description: Payment processed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
              example:
                transactionId: tx123456
                status: SUCCESS
        "400":
          description: Payload failed validation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
              example:
                message: "The remote server returned an error: (400) Bad Request."
        "422":
          description: Payment Gateway failed to process payment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
              example:
                status: 422
                errorMessage: PAYMENT_DECLINED
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
              example:
                timestamp: 2026-02-22T10:00:00Z
                status: 500
                errorMessage: INTERNAL_ERROR

  /v1/webhooks/register:
    post:
      summary: Register a webhook
      description: Registers a webhook URL to receive payment events.
      operationId: registerWebhook
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookRequest"
            example:
              url: "http://webhook/example"
      responses:
        "201":
          description: Webhook registered successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        "400":
          description: Payload failed validation
          content:
            application/json:
              example:
                message: "The remote server returned an error: (400) Bad Request."
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
              example:
                url: "http://webhook/example"
                active: false

components:
  schemas:

    PaymentRequest:
      type: object
      required:
        - firstName
        - lastName
        - zipCode
        - cardNumber
      properties:
        firstName:
          type: string
          description: FirstName of card holder
          example : Cindy
        lastName:
          type: string
          description: LastName of card holder
          example: wu
        zipCode:
          type: string
          description: postCode
          example: wu
        cardNumber:
          type: string
          description: card number
          example: 1234567890986

    PaymentResponse:
      type: object
      required:
        - status
      properties:
        transactionId:
          type: string
          description: Unique transaction identifier
          example: tx123456
        status:
          type: string
          description: Payment status
          example: SUCCESS
        errorMessage:
          type: string
          description: Error message when payment fails
          example: PAYMENT_DECLINED

    WebhookRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: URL that will receive webhook events
          example: "http://webhook/example"

    WebhookResponse:
      type: object
      required:
        - url
        - active
      properties:
        id:
          type: integer
          example: 1
        url:
          type: string
          format: uri
          example: "https://example.com/webhook"
        active:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time
          example: "2026-02-22T12:00:00"